<%= form_with(model: cart) do |form| %>
  <% if cart.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(cart.errors.count, "error") %> prohibited this cart from being saved:</h2>

      <ul>
        <% cart.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<!--  <p>You are with the cart of book: <%#= @book.name %></p>-->

  <div class="field">
    <%= form.label :book_name %>
    <%= form.text_field :book_name, :readonly => true, value: @book.name %>
  </div>

  <div class="field">
    <%= form.hidden_field :book_id, value: @book.id %>
  </div>

  <div class="field">
    <% qty = @book.stock %>
    <%= form.label :quantity %>
    <%= form.number_field :quantity, :id => 'quantity', min: 1, max: qty, onchange: "calculateTotalPrice();", value: 1 %>
  </div>

  <div class="field">
    <%= form.label :total_cost %>
    <%= form.text_field :total_cost, :id => 'total_price', :readonly => true, value:@book.price %>
  </div>

  <div>
    <%= form.submit @submit_text%>
  </div>

<% end %>

<script type="text/javascript">
    function calculateTotalPrice() {
        var price = "<%= @book.price %>";
        document.getElementById('total_price').value = document.getElementById('quantity').value * price;
    }
</script>