<div id="<%= dom_id transaction %>">
  <p>
    <strong>Transaction number:</strong>
    <%= transaction.transaction_number %>
  </p>

  <p>
    <strong>Credit card number:</strong>
    <%= transaction.credit_card_number %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= transaction.address %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= transaction.phone_number %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= transaction.quantity %>
  </p>

  <p>
    <strong>Total price:</strong>
    <%= transaction.total_price %>
  </p>

</div>
