<p style="color: green"><%= notice %></p>

<%= render @review %>

<div>
<% if @review.user_id == current_user.id || current_user.is_admin ==1%>
  <%= link_to "Edit this review", edit_review_path(@review) %>
  <%= button_to "Destroy this review", @review, method: :delete %>

<%end%>
  <br>
<%= link_to "Back to reviews", reviews_path %> 
</div>
